<p>
  Link: 
  <%= link_to "XS", :action => "xsmall" %> | 
  <%= link_to "S", :action => "small" %> | 
  <%= link_to "M", :action => "medium" %> | 
  <%= link_to "L", :action => "large" %> | 
  <%= link_to "XL", :action => "xlarge" %> |   
  <%= link_to "XXL", :action => "xxlarge" %>  
</p>
