<!DOCTYPE html>
<html>
  <head>
    <title>jQuery - iFrame Auto Height Plugin</title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="container">
      
    	<h1>
    		jQuery &raquo; iFrame Auto Height Plugin
    	</h1>
    	<p>
    	 This <a href="http://jquery.com/">jQuery</a> plugin sets the height on iframes based on their content.
    	 <a href="http://github.com/house9/jquery-iframe-auto-height">http://github.com/house9/jquery-iframe-auto-height</a>
    	</p>

      <%= yield %>

    	<div class="clear">
    	  &nbsp;
    	</div>
    	<p>
    		More: <%= link_to "Main", :controller => "containers", :action => "index" %> | 
    		<%= link_to "Another Pic", :controller => "containers", :action => "index2" %> | 
    		<%= link_to "Dynamic", :controller => "containers", :action => "index3" %> | 
    		<%= link_to "Min-Height", :controller => "containers", :action => "index4" %> |
        <%= link_to "Callback", :controller => "containers", :action => "index5" %> | 
    		<%= link_to "Form", :controller => "containers", :action => "index6" %>        
    	</p>    	    	
    	<p>
    		Original code by Nathan Smith, see <a href="http://sonspring.com/journal/jquery-iframe-sizing">original article</a>.
    	</p>    	
    	<div class="clear">
    	  &nbsp;
    	</div>
    	    	
    </div>
    
    <script>
      $(document).ready(function () {
        var instance;
        if (window.App) {
          if (window.App.<%= controller_name.classify %>) {
            instance = new window.App.<%= controller_name.classify %>();
            if (instance.<%= action_name %>) {
              instance.<%= action_name %>();
            } 
          }
        }
      });
    </script>
    
  </body>
</html>
